<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand"> João Pecorelli </a>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" [ngClass]="{'active': generatorSelected}"
          (click)="onGenerator()" routerLink="generator">Generator</a></li>
        <li class="nav-item"><a class="nav-link"
          [ngClass]="{'active': paymentsSelected, 'disabled': !code}"
          (click)="onPayments()" routerLink="payments">Payments</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
